---
import Layout from "../components/Layout.astro";
import { Image } from "astro:assets";
import warisImage from "../assets/waris_profile.png";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 5)
---

<Layout pageType="home">
  <section class="prose pt-10">
    <Image
      src={warisImage}
      alt="Waris Reshi"
      class="size-38 lg:size-46 object-cover transition-transform duration-300 ease-in-out"
      priority={true}
    />
    <p>Hey I am Waris, You might be here if you are interested in <a href='https://asent.app' target="_blank">Asent</a> or some of my blogs:</p>
    <ul class="list-disc! py-0 -mt-2">
      {
        posts.map((post) => (
          <li>
        <a href={`/post/${post.id}/`}>{post.data.title}</a>

          </li>
        ))
      }
    </ul>

    <p class="pt-8">
        For the full blog list, check the archive page. For any other questions/feedback, feel free to reach out to me on <a href="https://twitter.com/wrsrsh" target="_blank">X</a> or <a href="mailto:hello@reshi.me">email</a>.
    </p>
  </section>
</Layout>
