---
import Layout from "../components/Layout.astro";
import { Image } from "astro:assets";
import warisImage from "../assets/waris_profile.png";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 4)
---

<Layout>
  <section class="prose pt-10">
    <Image
      src={warisImage}
      alt="Waris Reshi"
      class="size-46 object-cover"
      priority={true}
    />
    <p>
      I am a programmer and cofounder of <a href="https://asent.app" target="_blank">Asent</a>. I write about <code>Applied AI</code>, fun programming stuff and <code>Sales Tech</code>
    </p>

    <h5 class="font-medium">Recent blogs:</h5>
    <ul class="list-disc! py-0 mt-1">
      {
        posts.map((post) => (
          <li>
        <a href={`/blog/${post.id}/`}>{post.data.title}</a>

          </li>
        ))
      }
    </ul>
  </section>

  <p
    class="mt-8"
    style="border-color: var(--color-border);"
  >
Thanks for visiting, <a href="/rss.xml" class="pointer-events-none">Subscribe</a> to this blog.
  </p>
</Layout>
