---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";

const posts = (await getCollection("blog")).filter(
  (post) => post.data.published === true
).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 5)
---

<Layout pageType="home">
  <section class="prose pt-10">
    <p>Hey I am Waris, You might be here to check out <a href='https://asent.app' target="_blank">Asent</a> or some of my recent blogs:</p>
    <ul class="list-disc! py-0 -mt-2">
      {
        posts.map((post) => (
          <li>
        <a href={`/post/${post.id}/`}>{post.data.title}</a>

          </li>
        ))
      }
    </ul>

    <p class="pt-8">
        For the full blog list, check the archive page. For any other questions/feedback, feel free to reach out to me on <a href="https://twitter.com/wrsrsh" target="_blank">X</a> or <a href="mailto:hello@reshi.me">email</a>.
    </p>
  </section>
</Layout>
