@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.02em;
  font-size: 15px;
}

body {
  display: grid;
  align-items: start;
  padding: 40px;
  gap: 20px;
  justify-content: center;
  /* background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1.5)),
    url("/assets/paper.png");
  background-size: cover;
  background-position: center; */
}

h3 {
  font-weight: 500;
  margin-top: 30px;
}

a,
a:visited,
a:focus,
a:active {
  color: black;
  text-underline-offset: 3px;
}

a:hover {
  color: rgb(0, 120, 211);
}

.forced-link-color {
  color: rgb(0, 0, 183) !important;
}


#page-navbar {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 38.5rem;
}

#navbar-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 7px;
}

.brand {
  color: black !important;
  text-decoration: none;
}

.brand:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

#navbar-list>li {
  list-style: none;
}

#navbar-list>li>a {
  text-underline-offset: 3px;
}

#content {
  padding: 0;
  margin: 0;
  max-width: 36rem !important;
  min-width: 36rem !important;
  width: 100%;
}

#about-image-container {
  display: flex;
  justify-self: left;
  padding-bottom: 10px;
}

#detailed-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#detailed-list>li>span {
  font-weight: 600;
  text-overflow: clip;
}

#page-footer,
#page-footer>a {
  width: 100%;
  color: gray !important;
}

@media (max-width: 768px) {
  #content {
    min-width: 100% !important;
  }
}