@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --container-width: 36rem;
  /* you can tweak this later */
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.01em;
  font-size: 17px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  gap: 24px;
}

#page-navbar {
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
  gap: 12px;
}

#navbar-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 14px;
}

#navbar-list li {
  list-style: none;
}

#content {
  width: 100%;
  padding-top: 3%;
  line-height: 1.5;
  max-width: var(--container-width);
}

#about-image-container {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
}

#detailed-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#detailed-list li span {
  font-weight: 500;
}

a,
a:visited,
a:focus,
a:active {
  color: black;
  text-underline-offset: 3px;
}

a:hover {
  color: rgb(0, 120, 211);
}

.forced-link-color {
  color: rgb(0, 0, 183) !important;
}

h3 {
  font-weight: 400;
  margin-top: 30px;
}

#page-footer {
  width: 100%;
  max-width: var(--container-width);
  color: gray !important;
  text-align: left;
  padding-bottom: 40px;
}


@media (max-width: 768px) {

  body {
    padding: 24px 16px;
  }

  #navbar-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 480px) {

  :root {
    max-width: 92%;
  }

  #page-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar-list {
    align-items: flex-start;
    gap: 8px;
  }
}
